body{
	background-color:Grey;
}
.new{
	background-color:pink;
	text-align:center;
	font-family: 'Lobster',cursive;
	text-shadow:2px 2px black;
	margin:20px;
	color:white;
	Padding:30px;
	font-size:40px;
}
.middle{
	background-color:Grey;
	margin:20px;
	text-align:center;
	font-weight:lighter;
	color:white;
}
.hi{
	background-color:Grey;
	font-size:20px;
	margin:30px;
	background:linear-gradient(Black,grey);
	color:white;
}
.foot{
	background-color:grey;
    margin:50px;
	font-weight:lighter;
	text-align:center;
	background:linear-gradient(to bottom ,white);
	text-shadow:1px 1px grey;
	padding:10px,5px,10px,5px;
	font-family: 'Lobster',cursive;
}
.hi1{
	background-color:Red;
}
.second-bg{
	background-color:Grey;

}

.container {
    display: grid;
    grid-template-columns: 500px auto auto auto;
    grid-template-rows: 100px 200px 200px 30px ;
    grid-gap:10px;
    padding: 20px;  
    text-align:left;
}
.header {
    grid-column-start: 1;
    grid-column-end:  25;
    grid-row-start: 1;
    grid-row-end: 1;
	Margin:auto 200px auto 200px;
	background:linear-gradient(pink,grey);
	text-align: center;

}

.item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end:7;  	
    text-align:center;
    background:linear-gradient(pink,grey);
	
}

.item2 {
    grid-column-start: 2;
	grid-column-end:20;
    grid-row-start: 2; 
    grid-row-end: 7; 
    text-align:center;
	width:800px;
	height:500px;
	background:linear-gradient(white,grey);
}
.me{
	text-align:left;
	padding-left:10px;
}
.img{
	position:center-top;
	padding-left:400px;
}
.img2{
	position:absolute;
    top:200px;
	right:100px;
	padding-right:300px;
}
.contact-bg{
  margin: 0;
  padding: 0;
  background: url(bg.jfif);
  background-size: cover;
   background-image: url("bg.jfif")
}
.contact-form{
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: #9b59b6;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

