body{
	background-color:grey;
	margin:50px;
	background-image:url("boom.jpeg")
}
.new{
	background-color:pink;
	text-align:center;
	font-family: 'Lobster',cursive;
	text-shadow:2px 2px black;
	margin:20px;
	color:white;
	Padding:30px;
	font-size:40px;
	background-image:url("boom.jpeg")
	
}
.middle{
	background-color:red;
	margin:20px;
	font-weight:lighter;
}
.hi{
	background-color:cyan;
	font-size:20px;
}
.foot{
	background-color:white;
	font-weight:lighter;
	text-align:center;
	text-shadow:1px 1px grey;
	padding-top:0px;
	margin-top:50px;
}